<!DOCTYPE html>
<html>
<head>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Lista de Tarefas - Criar Tarefa</title>
</head>
	<body>
		<header>
			<div id="titulo">
				<h1>Lista de Tarefas</h1>
			</div>
		</header>

		<section id="container">
			<div id="opcoesContainer">
				<ul>
					<li><a href="/criar-tarefa">Criar tarefa</a></li>
					<li><a href="#">Pendentes</a></li>
					<li><a href="#">Realizadas</a></li>
					<li><a href="/">Todas as Tarefas</a></li>
				</ul>	
			</div>

			<div id="formulario">
				<form action="criar-tarefa" method="post">
					<label for="tarefaCriar">Digite sua tarefa</label>
					<input id="tarefaCriar" type="text" name="tarefa">
					<input type="submit" value="Registrar">
				</form>
			</div>

		</section>
	</body>

	<script src="js/script.js"></script>
</html>